
table {
	border: 1px solid black;

}

table tr td {
	background: url("img/cardback.jpg");
	background-size: 60px 90px;
	background-repeat: no-repeat;
	/* background-position: 0 10px; */
	border: 1px solid black;
	width: 60px;
	height: 90px;
	padding: 0;
	margin: 0;
}

table tr td img:hover {
	transform: scale(1.25, 1.25);
}

.face-up {
	visibility: visible;
}

.face-down {
	visibility: hidden;
}

.matched {
	visibility: hidden;
}

#memorygame {
	/* ... */
}

