/* CSS for GUI...*/

#memorygame {
	/* ... */
}

.btn_reset { 
	background: orange;
	width: 100px;
	height: 50px;
	color: white;
	border: none;
	font-size: 2em;
}

.card {
	background: red;
	width: 10px;
	height: 20px;
	border: 1px solid black;
}

td {
	border: 1px solid black;
	width: 50px;
	height: 100px;
}

.card_down {
	background: red;
}

.card_up {
	background: orange;
	color: white;
}

.removeCard {
	visibility: hidden;
}