<html>
<head>
	<meta charset="utf8">
	<script type="text/javascript" src="memory-cards.js"></script>	
	<script type="text/javascript" src="memory-game.js"></script>	
	<script type="text/javascript" src="memory-gui.js"></script>
	<script type="text/javascript" src="memory-main.js"></script>
	<link rel='stylesheet' type='text/css' href='css/main.css'>
</head>
<body>
<div id="mainer">
	<div id="main">
		<div id= "intro">
			<h1>Match that Nick!</h1>
			<div id="reset">
				<button>Reset</button>
			</div>
			<div id="alerts">
				<div id="match" class="showCelebration">
					<h2>You got a match!</h2>
				</div>
				<div id="win" class="showCelebration">
					<img src="img/match.jpg">
					<h5>You put the bunny<br>back in the box!</h5>
				</div>
				<div class="guts">
					<p class="quote">"All of my characters<br>have a glint of madness"<br>
					<p>-Nic</p>
					<p id="signature">Made by Jahsie Ault</p>
				</div>
			</div>
		</div>
		<div id='memorygame' class="center">
		</div>

	</div>
</div>
</body>
</html>
